<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419946142043-v9ekojbha6e3034qsgontqal9g73dbat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419946142043-v9ekojbha6e3034qsgontqal9g73dbat</string>
	<key>API_KEY</key>
	<string>AIzaSyACa1hZ24Hvl_xYu79_voACbQ0oOHKZhJA</string>
	<key>GCM_SENDER_ID</key>
	<string>419946142043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab5.cis3515.FInalProject</string>
	<key>PROJECT_ID</key>
	<string>iosfinalproject-3f601</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfinalproject-3f601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419946142043:ios:c965080c695f0ef4e0e27e</string>
	<key>DATABASE_URL</key>
	<string>https://iosfinalproject-3f601.firebaseio.com</string>
</dict>
</plist>